<!--
## Docker images

The docker image for this release can be found in [Docker hub](https://hub.docker.com/r/axia/axia-collator/tags?page=1&ordering=last_updated).

You may also pull it with:

```
docker pull axia/axia-collator:latest
```
-->
